p {
    color: #ffffff;
    font-family: Segoe UI, Roboto;
    text-align: center;
}

:root {
    --theme-fonts-quantico: Quantico;
    --theme-fonts-titillium: Titillium Web;
    --theme-lineHeights-caption: 18px;
}

/* hi */
a {
    color: #ffffff;
}

@layer ui-kit {
    @keyframes backgroundPosition {
        0% {
            background-position: -200px 0;
        }

        100% {
            background-position: calc(200px + 100%) 0;
        }
    }

    .root {
        animation: backgroundPosition 1.2s ease-in-out infinite;
        background-color: #eff0f3;
        background-image: linear-gradient(90deg, #eff0f3, #bcbdc0, #eff0f3);
        background-repeat: no-repeat;
        background-size: 200px 100%;
        border-radius: 4px;
        display: inline-flex;
        line-height: 1;
        width: 100%;
    }
}

:global(a) {
    color: '#fff';
}
